<div class="vs-form">
  <h2>Edit <em><%= @spot.name %></em></h2>

  <% if @spot.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@spot.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @spot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @spot, url: {action: "update"} do |spot_form| %>
    <div class="form-group">
      <%= spot_form.label :spot_name, 'Spot Name' %><br />
      <%= spot_form.text_field :name, class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= spot_form.label :description %><br />
      <%= spot_form.text_area :description, class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= spot_form.label :location %><br />
      <%= spot_form.text_field :latitude, class: 'form-control' %><%= spot_form.text_field :longitude, class: 'form-control'  %>
    </div>

    <div class="actions form-group">
      <%= link_to "Back", :back, class: 'btn btn-secondary' %>
      <%= spot_form.submit "Update Spot", class: 'btn btn-primary'  %>
    </div>

  <% end %>

</div>