<div class="container">
  <header>
    <div class="finder-header">

      <h1> <span class="headingBrandVan">Van</span> <span class="headingBrandSpots">Spots</span> </h1>
      <% if user_signed_in? %>
        <%= link_to "Create Spot", new_spot_path, class: 'btn btn-sm btn-primary' %>
      <% end %>
      <hr />
    </div>
  </header>


  <div class="">
    <% @spots.each do |spot| %>
      <div class="col-xs-12">
        <div class="text-center">
          <h2><%= spot.name %></h2>
          <h6><%= spot.created_at.strftime('%b %d, %Y') %></h6>
          <h6>Created By: <%= spot.user.username %></h6>

        </div>

        <div>
          <%= spot.description %>
        </div>

        <% if user_signed_in? %>
          <div class="text-center">
            <%= link_to "More Info", spot_path(spot) %>
          </div>
        <% end %>
        <br>
      </div>
    <% end %>
  </div>
</div>