<div class="vs-form">
  <h2>Forgot your password?</h2>

  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="form-group  floating-label">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Account Email'  %>
      <%= f.label :email, "Account Email" %>
    </div>

    <div class="actions form-group">
      <%= f.submit "Send me password reset instructions", class: 'btn btn-primary'  %>
    </div>
  <% end %>

  <div class="other-actions">
    <%= render "devise/shared/links" %>
  </div>
</div>
