<div class="vs-form">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p class="text-danger">
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    </p>
    <div class="form-group floating-label">
      <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Username or Email' %>
      <%= f.label :login, "Username or Email"%>
    </div>

    <div class="form-group floating-label">
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
      <%= f.label :password %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions form-group">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="other-actions">
    <%= render "devise/shared/links" %>
  </div>
</div>